
/****** Object:  Table [dbo].[A_TIME_INTERVAL]    Script Date: 23-9-2021 10:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- data with time intervals per 15 min, 96 records (96x15 min ->24hours)
-- used for reporting and import of interaday data

CREATE TABLE [dbo].[A_TIME_INTERVAL](
	[interval_id] [smallint] NOT NULL,
	[time_start_txt] [nvarchar](5) NOT NULL,
	[time_start] [datetime] NULL,
	[time_end] [datetime] NULL,
	[time_end_combo] [datetime] NULL,
	[hour] [int] NULL,
	[id_txt] [nvarchar](255) NULL,
	[time_end_txt] [nvarchar](5) NULL,
	[period_15] [bit] NULL,
	[period_30] [bit] NULL,
	[intraday_part] [int] NULL,
	[time_start_sec_txt] [nvarchar](10) NULL,
	[time_end_sec_txt] [nvarchar](10) NULL,
	[halfhour] [nchar](5) NULL,
	[time_start_15_txt] [nvarchar](5) NULL,
	[time_start_30_txt] [nvarchar](5) NULL,
 CONSTRAINT [PK_Dim_Time_Interval1] PRIMARY KEY CLUSTERED 
(
	[interval_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[A_TIME_INTERVAL] ([interval_id], [time_start_txt], [time_start], [time_end], [time_end_combo], [hour], [id_txt], [time_end_txt], [period_15], [period_30], [intraday_part], [time_start_sec_txt], [time_end_sec_txt], [halfhour], [time_start_15_txt], [time_start_30_txt]) VALUES (0, N'00:00', CAST(N'1899-12-30T00:00:00.000' AS DateTime), CAST(N'1899-12-30T00:14:59.000' AS DateTime), CAST(N'1899-12-30T00:00:00.000' AS DateTime), 0, N'1', N'00:00', 1, 1, 1, N'0:00:00', N'0:14:59', N'00-29', N'00:00', N'00:00')
INSERT [dbo].[A_TIME_INTERVAL] ([interval_id], [time_start_txt], [time_start], [time_end], [time_end_combo], [hour], [id_txt], [time_end_txt], [period_15], [period_30], [intraday_part], [time_start_sec_txt], [time_end_sec_txt], [halfhour], [time_start_15_txt], [time_start_30_txt]) VALUES (1, N'00:15', CAST(N'1899-12-30T00:15:00.000' AS DateTime), CAST(N'1899-12-30T00:29:59.000' AS DateTime), CAST(N'1899-12-30T00:15:00.000' AS DateTime), 0, N'2', N'00:15', 1, 0, 1, N'0:15:00', N'0:29:59', NULL, N'00:15', N'00:00')
INSERT [dbo].[A_TIME_INTERVAL] ([interval_id], [time_start_txt], [time_start], [time_end], [time_end_combo], [hour], [id_txt], [time_end_txt], [period_15], [period_30], [intraday_part], [time_start_sec_txt], [time_end_sec_txt], [halfhour], [time_start_15_txt], [time_start_30_txt]) VALUES (2, N'00:30', CAST(N'1899-12-30T00:30:00.000' AS DateTime), CAST(N'1899-12-30T00:44:59.000' AS DateTime), CAST(N'1899-12-30T00:30:00.000' AS DateTime), 0, N'3', N'00:30', 1, 1, 1, N'0:30:00', N'0:44:59', N'30-59', N'00:30', N'00:30')
